<div id="serialConfig">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="baud">Baud</label>
        <input type="text" class="form-control" id="baud" name="baud" value="57600">
      </div>
    </div>
  </div>
</div>
