body {
  margin-bottom: 50px;
}

.fb-header {
  background-color: #607D8B;
  padding-bottom: 10px;
}

.fb-header h1 {
  color: #fff;
  margin-bottom: 20px;
}

.fb-header h4 {
  color: #CFD8DC;
}

.container {
  max-width: 800px !important;
}

.contrib-feature-block {
  margin-left: 20px;
}

#submitError {
  display: none;
}

#ethernetConfig {
  display: none;
}

#wifiConfig {
  display: none;
}

#uipEthernet {
  display: none;
}

#subnetMask {
  display: none;
}

#gatewayIp {
  display:none;
}

#configError {
  display: none;
}

#wepKey {
  display: none;
}

#wepIndex {
  display: none;
}

#wifiRemoteServerIp {
  display: none;
}

#wifiConnectionType {
  margin-top: 6px;
}

@media (min-width: 768px) {
  .btn {
    margin-left: -15px;
  }

}
