body {
  margin-bottom: 50px;
}

.fb-header {
  background-color: #607D8B;
  padding-bottom: 10px;
}

.fb-header h1 {
  color: #fff;
  margin-bottom: 20px;
}

.fb-header h4 {
  color: #CFD8DC;
}

.fb-issues {
  margin-top: 30px;
}

.container {
  width: 800px !important;
}

.contrib-feature-block {
  margin-left: 20px;
}

#submitError {
  display: none;
}

#ethernetConfig {
  display: none;
}

#uipEthernet {
  display: none;
}

#configError {
  display: none;
}
