body {
  margin-bottom: 50px;
}

.preview-alert {
  margin-top: 20px;
}

.fb-header {
  background-color: #607D8B;
  padding-bottom: 10px;
}

.fb-header h1 {
  color: #fff;
  margin-bottom: 20px;
}

.fb-header h4 {
  color: #CFD8DC;
}

.container {
  width: 800px !important;
}

.contrib-feature-block {
  margin-left: 20px;
}

.feature-alert {
  display: none;
}
